@model IEnumerable<BookShopAPI.Models.Orders>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Đơn hàng</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>




<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Mã đơn hàng
                                    </th>
                                    <th>
                                        Số điện thoại
                                    </th>
                                    <th>
                                        Tên khách hàng
                                    </th>
                                    <th>
                                        Ngày đặt
                                    </th>
                                    <th>
                                        Tổng tiền
                                    </th>
                                    <th>
                                        mã tt
                                    </th>
                                    <th>
                                        Trạng thái
                                    </th>
                                    <th>
                                        PTTT
                                    </th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>



    $(document).ready(function () {
        let colorClass = "";
        let iconClass = "";
        let tenTT = "";
        let display = "";
        let link = "#";
        let huyBtn = "";
        const styleButton = function (idsate, id) {
            switch (idsate) {
                case 1:
                    colorClass = "#E56795";
                    iconClass = "fa-thumbs-up";
                    tenTT = "Chờ xác nhận";
                    link = "/Admin/Order/Confirm/"+id ;
                    display = ""

                    break;
                case 2:
                    colorClass = "#3c8dbc";
                    iconClass = "fa-truck";
                    tenTT = "Chờ Vận Chuyển";
                    display = ""
                    link = "/Admin/Order/Delivering/" + id ;
                    break;
                case 3:
                    colorClass = "#dc3545";
                    tenTT = "Đã Huỷ";
                    display = "display: none;";
                    huyBtn = "display: none;";

                    break;
                case 4:
                    tenTT = "Đang giao hàng";
                    colorClass = "#FF6F61";
                    iconClass = "fa-check-circle";
                    link = "/Admin/Order/Complete/" + id;
                    huyBtn = ""
                    display = ""
                    break;
                case 5:
                    tenTT = "Đã nhận hàng";
                    colorClass = "#28a745";
                    display = "display: none;";
                    huyBtn = "display: none;";
                    break;
            }
        }

        $("#example1").DataTable({
            ajax: {
                url: "/api/order",
                dataSrc: ""
            },
            columns: [
                {
                    data: "id"
                },
                {
                    data: "customer.sdt"
                },
                {
                    data: "customer.name"
                },
                {
                    data: "orderDate",
                    render: function (data) {
                        const a = data.slice(0, 10)
                        const b = a.split('-')
                        return `${b[2]}-${b[1]}-${b[0]}`
                    }
                },
                {
                    data: "totalPrice"
                },
                {
                    data: "state.id",
                    visible: false
                },
                {
                    data: "state.name",
                    render: function (data, type, row) {
                        styleButton(row.state.id, row.id)
                        const tt = `<span style="color: ${colorClass}; font-weight:600;">
                                        ${tenTT}
                                        <a class="btn btn-sm" href=${link} style="background-color: ${colorClass}; ${display}">
                                            <i class= "fas ${iconClass}" style="color: white"></i>
                                        </a>
                                    </span>`
                        return tt
                    }
                },
                {
                    data: "paymentMethod"
                },
                {
                    data: "id",
                    render: function (data, type, row) {
                        const attr = `<a class="btn btn-primary btn-sm" href="/Admin/Order/Info/${data}"><i class="fas fa-info-circle"></i>Info</a>
                        <a class="btn btn-danger btn-sm" id="huy-btn" href="/Admin/Order/Huy/${data}" style="${huyBtn}" ><i class="fas fa-ban"></i>Huỷ</a>`
                        return attr;
                    }
                }

            ],
        })

        $("#example1").on("click", "#huy-btn", function (event) {
            event.preventDefault();

            var button = $(this).attr('href');
            console.log(button)
            var form = "<form id='infos' action='" + button + "' method='post'>" +
                "<p>Vui lòng nhập lí do huỷ:</p>" +
                '<input type="radio" id="receive" name="reason" value="Khách không nhận hàng" checked>' +
                '<label class ="label-form" for="receive">Khách không nhận hàng</label><br>' +
                '<input type="radio" id="confirm" name="reason" value="Không xác nhận được đơn hàng" >' +
                '<label class ="label-form" for="confirm">Không xác nhận được đơn hàng</label><br>' +
                '<input type="radio" id="return" name="reason" value="Trả hàng" >' +
                '<label class ="label-form" for="return">Trả hàng</label><br>' +
                '<input type="radio" id="other" name="reason" value="">' +
                '<label class ="label-form" for="other">Khác</label>' +
                '<input class="form-control" id="textOther" type="text" name="other" disabled/>' +
                '</form >'


            bootbox.confirm({
                message: form,
                buttons: {
                    confirm: {
                        label: 'OK',
                        className: 'btn-danger'
                    }
                },
                callback: function (r) {
                    if (r) {
                        if (!$('#infos').valid())
                            return false;
                        else {
                            $('#infos').submit();
                        }
                    }
                }
            });
        });



        $(document).on("shown.bs.modal", function () {
            $('#textOther').prop('disabled', true);

            $('#infos').validate({

                messages: {
                    reason: "Vui lòng chọn một lí do"
                }
            });

            $('input[name="reason"]').change(function () {
                if ($(this).val() != '') {
                    $('#textOther').prop('disabled', true);
                    $('#textOther').val('');
                    $("#textOther").prop('required', false);
                }
                else {
                    $('#textOther').prop('disabled', false);
                    $('#textOther').rules('add', {
                        required: true,
                        messages: {
                            required: "Vui lòng nhập lí do"

                        }
                    });
                }


            });
        });

    })

</script>